preproc/*
*arpa*
klm/*klm
klm/*json
preproc/*paths
models/*
.pytest_cache/
tuning/tuner.csv
tests/fixtures/633320059/*
output/*
snapshots/*
preproc/vocabs
preproc/100k
preproc/*jsonl
.ipynb_checkpoints/*
sentence-compression/*
latex/qsr.synctex.gz
cache/*
.cache/*
*pyc
*pdf
*bbl
*blg
*out
*log
*aux
.RData
.Rhistory
